.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list-header,
.address-header {
  display: none;
}

.logo-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 16px 0;
}

.accent-header-logo {
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .nav-list-header {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo-link {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .nav-link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-header.current {
    position: relative;
  }

  .nav-link-header.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .address-link-header:hover,
  .address-link-header:focus,
  .nav-link-header:hover,
  .nav-link-header:focus,
  .nav-link-header.current {
    color: #404bbf;
  }

  .address-header {
    font-style: normal;
    display: block;
  }

  .address-list-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link-header {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }

  .address-list-header {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link-header {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding: 24px 0;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu:not(.is-open) .mobile-menu-container {
  transform: translateX(100%) scale(1.5);
}

.close-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile-navigation {
  margin-bottom: auto;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-navigation-link.current {
  color: #404bbf;
}

.menu-mobile-address {
  margin-bottom: 48px;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-social-item {
  width: 40px;
  height: 40px;
}

.menu-social-link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: none;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.section-main {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile/background-mobile.jpg");
  max-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.title-main {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto 72px auto;
}

.button-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-resolution: 192dpi) {
  .section-main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/background-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-main {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/background-tablet.jpg");
    max-width: 768px;
  }

  .title-main {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .button-main {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-main:hover,
  .button-main:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/background-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .section-main {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/background-desktop.jpg");
    max-width: 1440px;
  }

  .title-main {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/background-desktop@2x.jpg");
  }
}

.section {
  padding: 96px 0;
}

.container-benefits {
  display: none;
}

.list-benefits {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.item-benefits {
  width: 100%;
}

.title-benefits {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .list-benefits {
    column-gap: 24px;
  }

  .item-benefits {
    width: calc((100% - 24px) / 2);
  }

  .title-benefits {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .container-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .list-benefits {
    flex-wrap: nowrap;
  }

  .item-benefits {
    width: calc((100% - 72px) / 4);
  }

  .title-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-benefits {
    font-weight: 400;
  }
}

.section-team {
  background-color: #f4f4fd;
}

.main-title-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.item-team {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.container-team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 32px 0;
}

.list-social-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-social-team {
  height: 40px;
  width: 40px;
}

.link-social-team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .list-team {
    row-gap: 64px;
    column-gap: 24px;
  }

  .item-team {
    width: calc((100% - 24px) / 2);
  }

  .link-social-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-social-team:hover,
  .link-social-team:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .list-team {
    flex-wrap: nowrap;
  }

  .item-team {
    width: calc((100% - 72px) / 4);
  }
}

.main-title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.item-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb-portfolio {
  position: relative;
  overflow: hidden;
}

.container-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px 16px;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay-portfolio {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-portfolio {
    row-gap: 72px;
    column-gap: 24px;
  }

  .img-portfolio {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .list-portfolio {
    row-gap: 48px;
  }

  .item-portfolio {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .img-portfolio {
    width: 360px;
  }

  .overlay-portfolio {
    display: block;
    position: absolute;
    background-color: #4d5ae5;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    left: 0;
    top: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-portfolio:hover .overlay-portfolio {
    transform: translateY(0);
  }

  .item-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.logo-link-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.accent-footer-logo {
  color: #f4f4fd;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.social-text-footer,
.text-form-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.list-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.item-social-footer {
  width: 40px;
  height: 40px;
}

.link-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.input-footer {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  opacity: 0.3;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.input-footer::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.button-form-footer {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.button-form-icon {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 96px 108px;
  }

  .container-footer {
    row-gap: 72px;
    column-gap: 24px;
    align-items: baseline;
    justify-content: start;
  }

  .logo-link-footer {
    text-align: start;
  }

  .text-footer {
    max-width: 264px;
  }

  .social-text-footer,
  .text-form-footer {
    text-align: start;
  }

  .link-social-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-social-footer:hover,
  .link-social-footer:focus {
    background-color: #31d0aa;
  }

  .form-container-footer {
    margin-right: auto;
  }

  .form-footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .input-footer {
    width: 264px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

  .input-footer:focus,
  .input-footer:hover {
    border-color: #31d0aa;
  }

  .button-form-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-form-footer:focus,
  .button-form-footer:hover {
    background-color: #31d0aa;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 15px;
  }

  .container-footer {
    flex-wrap: nowrap;
    gap: 0;
  }

  .logo-container-footer {
    margin-right: 120px;
  }

  .social-container-footer {
    margin-right: 80px;
  }

  .input-footer::placeholder {
    opacity: 1;
  }
}
